# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# =========================
# Android
# =========================
**/android/.gradle/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# Keystore y claves (NO subir nunca)
**/*.jks
**/key.properties

# =========================
# iOS / macOS
# =========================
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral/
**/ios/.generated/
**/ios/Pods/
**/ios/Runner.xcworkspace/
**/ios/profile
**/ios/Release

**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner.xcworkspace/

# Xcode
**/DerivedData/
*.xcworkspace

# =========================
# Web
# =========================
# (el build web también es generado)
build/web/

# =========================
# IDEs
# =========================
# VS Code
.vscode/

# Android Studio / IntelliJ
.idea/
*.iml

# =========================
# Sistema operativo / otros
# =========================
.DS_Store
Thumbs.db
*.log


# =========================
# Environment files
# =========================
.env
.env.*
!.env.example
